* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 300px;
    height: 350px;
    border: 2px solid black;
    position: relative;
}
.block {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px;
}
 .block3 {
    width: 80%;
    height: 50px;
    background-color: blue;
    position: absolute;
    left: 10%;
}
.block1 {
    top: 0;
    width: 80%;
    height: 50px;
    background-color: blue;
    position: absolute;
    left: 10%;
}
.block2 {
    width: 20%;
    height: 70%;
    background-color: gold;
    position: absolute;
    top: 50px;
    left: 0;
}
.block3 {
    bottom: 0;
}
.block4 {
    width: 80%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 20%;
    overflow: auto;
    border: 1px solid black;
    padding: 5px;
    color: black;
}
.block5 {
    width: 60%;
    height: 50px;
    background-color: gold;
    position: absolute;
    top: 50px;
    left: 20%;
    transform: rotate(110deg);
}
@media (max-width: 600px) {
    .container {
        width: 100%;
        height: auto;
        align-items: center;
    }
    .block {
        position: static;
        width: 90%;
    }
    .block4 {
        height: auto;
    }
}
@media print {
    .container {
        width: 100%;
        height: auto;
        border: none;
        align-items: center;
    }
    .block {
        color: black;
        width: 100%;
    }
}