a {
color: blue;
}
a.list1 {
color: #FFBB00;
}
a.list2 {
color: #800000;
}
#exam10
{
color: #56c500;
}
p.ex5{
    color: #00ff00;
    background-color:#ff0000;
   }
   body.body5{
    background-image: url("../images/ball.jpg");
    background-repeat: no-repeat;
    background-position: 5cm 5cm
   }
   
p.ex6{font-family: Arial, Candara, Century-Gothic, sans-serif}
h1.ex7{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
   }
   h2.ex7{
    font-family: Times New Roman, Georgia, serif;
    font-style: italic;
   }
   p.ex7{
    font-family: Times New Roman, Georgia, serif;
    font-style: oblique;
   }
   p.ex8{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
    font-variant: small-caps;
   }
   p.ex9{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-variant: normal;
 font-weight: 600
}
h1.ex10{
    font-family: Arial, Candara, Century-Gothic, sans-serif;
    font-style: normal;
    font-size: 30px;
   }
   h2.ex10{
    font-family: Times New Roman, Georgia, serif;
    font-style: italic;
    font-size: 100pt;
   }
   h3.ex10{
    font-family: Times New Roman, Georgia, serif;
    font-style: italic;
    font-size: 120%;
   }
   p.ex10{
   font-style: italic;
   font-weight: bold;
   font-size: 30px;
   font-family: arial, sans-serif;
   }
   
body.body5{
    background-image: url("/ball.jpg");
    background-repeat: no-repeat;
    background-position: 100% 25%
   }

body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

.table1 {
    margin: 0 auto;
    border: 5px solid darkorchid;
    width: 40%;
}

.table1 td {
    border: 1px solid darkorchid;
    text-align: center;
    padding: 10px;
}

.table2 {
    border-spacing: 20px;
    width: 60%;
    border: 2px solid green;
}

.table2 td {
    border: 2px solid green;
    text-align: center;
    padding: 10px;
}

.table3 {
    border-spacing: 20px;
    width: 60%;
    border: 2px solid orangered;
}

.table3 td {
    padding: 10px;
    text-align: center;
}

.table4 {
    border-spacing: 0;
    border: 1px solid green;
}

.table4 td {
    border: 1px solid rgb(78, 102, 78);
    padding: 10px;
    width: 11em;
    text-align: center;
}

.table5 {
    width: 100%;
    background-color: green;
    text-align: center;
}

.table5 td {
    padding: 10px;
    color: white;
    font-weight: bold;
}

.table6 {
    border-spacing: 1px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.table6 th, .table6 td {
    border: 1px solid black;
    padding: 10px;
}

.table7 {
    margin: 0 auto;
    border-spacing: 0;
    border: 2px solid blue;
}

.table7 td {
    height: 15px;
    width: 170px;
    text-align: center;
}

.table8 {
    margin: 0 auto;
    border: 2px solid pink;
}

.table8 td {
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
}
